//The Bot Token you will have received from the discord developers page
botToken=BOT_TOKEN_FROM_DISCORD

//The local file path to the directory of your sounds. Don't forget to escape your slashes
localFilePath=C:\\PATH\\TO\\SOUNDS\\DIRECTORY

//The user for the 
followingUser=USERNAME

//If you want SoundChan to play an audio file whit their name when a user joins the channel or have that information come from below file
audioOnUserJoin=on/off

//The file where users and sound clips are related, see usersound.properties.example for more info
userAudioFilePath=C:\\PATH\\TO\\USER\\SOUND\\FILE
