//Here we can map a user to a sound file, so many users can share the same intro soundbite and/or so you don't have to have extra copies of the same sound file

//Discord user and the file (with extension)
Queen=WeAreTheChampions.mp3

//We can also link to sounds in folders inside the main sound folder
Shrek=More/SmashMouth.wav

//Map multiple people to same sound
Thing1=sawing_wood.wav
Thing2=sawing_wood.wav
